doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="../queries.js")
  body
    block content
    block newMatch
    block displayMatches
