body {
  padding: 50px;
  font-family: Tahoma, Geneva, sans-serif;
}

div{
  font-family: Tahoma, Geneva, sans-serif;
}

p{
  font-family: Tahoma, Geneva, sans-serif;
  margin-right:20px;
}

button {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: rgb(244, 247, 244); /* Green */
  border: none;
  color: rgb(26, 180, 12);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



table {
  font-family: Tahoma, Geneva, sans-serif;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table td, table th {
  padding: 3px 2px;
}
table tbody td {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 15px;
}

table tr:nth-child(even) {
  background: #FFFFFF;
}

#table tr:hover {
  background-color: #ddd;
}

table td:nth-child(even) {
  background: #FFFFFF;
}


table input{
  font-family: Tahoma, Geneva, sans-serif;
  margin-right:20px;
  font-size: 15px;
}

table thead {
  font-family: Tahoma, Geneva, sans-serif;
  background: #36B58A;
  background: -moz-linear-gradient(top, #68c7a7 0%, #4abc95 66%, #36B58A 100%);
  background: -webkit-linear-gradient(top, #68c7a7 0%, #4abc95 66%, #36B58A 100%);
  background: linear-gradient(to bottom, #68c7a7 0%, #4abc95 66%, #36B58A 100%);
}

table thead th {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #FDFEFF;
  border-left: 2px solid #FDFFFF;
}
table thead th:first-child {
  border-left: none;
}
